.container {
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: stretch;
}

.container > input {
    background-color: #252b30;
    border: 1px solid rgb(69, 69, 69);
    border-top: none;
    border-right: none;;
    flex-grow: 1;
    padding: 5px;
}
.container > *:focus {
    outline: none;
}
.container > button {
    background-color: #252b30;
    border: 1px solid rgb(69, 69, 69);
    border-top: none;
    font-size: 1em;
    padding: 5px;
}