html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #00688c;
  }
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  background-color: #1b2024;
  padding: 15px;
  min-width: 40%;
  max-width: 50%;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 0 10px;
    max-width: 100%;
  }
}

h2 {
  margin: 0;
}

.styled-button {
  background-color: #258fb3;
  color: white;
  font-size: 1.6em;
  padding: 10px;
  border: 1px solid #005875;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 10px 5px;
}

.styled-button:hover {
  background-color: #00688c;
}
