.sourceUrlHeader {
  background-color: #252b30;
  border: 1px solid rgb(63, 63, 63);
  font-weight: bold;
  padding: 10px;
}

.sourceUrl {
  width: 100%;
  background-color: #252b30;
}

.sourceUrl > div {
  padding: 10px;
  border: 1px rgb(63, 63, 63) solid;
  border-top: none;
}